@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none; 
  }
}


html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.bg-shadow::after {
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: auto;
    position: absolute;
}
.poster-container{
    height: 288px;
}